.bg {
  @apply
  bg-white

  dark:bg-neutral-900;
}

.border--color {
  @apply
  border-neutral-200

  dark:border-neutral-800
}

.text--color {
  @apply
  text-neutral-700

  dark:text-neutral-400
}
