/*
  Author: Carlos costa
  Dependencies: Tailwind
*/

.mdx {
  @apply w-full
  flex-1
  flex
  flex-col
  gap-6
  max-w-[700px]
  min-w-0
  text-[17px]
  m-auto
  text-neutral-600

  lg:m-auto
  md:text-[16px]

  dark:text-neutral-400
  dark:text-opacity-75;
}

/*=======================
Text
========================*/

.mdx strong,
.mdx b {
  @apply text-neutral-800
  dark:text-neutral-400;
}

.mdx blockquote p {
  @apply px-4
  pt-3
  pb-2
  border-l-4
  border-red-400
  text-red-600
  bg-white

  dark:border-neutral-600
  dark:text-red-400
  dark:bg-black
  dark:bg-opacity-20
  dark:border-l-4;
}

.mdx a {
  @apply text-blue-600
  hover:underline
  break-words

  dark:text-sky-300;
}

/*=======================
Code
========================*/

.mdx p code,
.mdx li code,
.mdx td code {
  @apply font-mono
  text-red-500
  bg-white
  text-base
  break-words

  dark:text-orange-300
  dark:bg-neutral-800

  md:text-sm;
}

.astro-code {
  @apply !bg-neutral-800
  text-sm
  !p-[20px];
}

/* width */
.astro-code::-webkit-scrollbar {
  @apply w-[10px]
  h-[10px];
}

/* Track */
.astro-code::-webkit-scrollbar-track {
  @apply bg-transparent;
}

/* Handle */
.astro-code::-webkit-scrollbar-thumb {
  @apply bg-neutral-600
  transition-all;
}

/* Handle on hover */
.astro-code::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-700;
}

/*=======================
Line
========================*/

.mdx hr {
  @apply border-neutral-200

  dark:border-neutral-800;
}

/*=======================
Heading
========================*/

.mdx h1,
.mdx h2,
.mdx h3,
.mdx h4,
.mdx h5,
.mdx h6 {
  @apply m-0
  text-black
  font-bold
  font-sans

  dark:text-neutral-300;
}

.mdx h2,
.mdx h3,
.mdx h4,
.mdx h5,
.mdx h6 {
  @apply mt-8
  -mb-2

  md:mt-6;
}

.mdx h1 {
  @apply text-3xl sm:text-2xl;
}
.mdx h2 {
  @apply text-2xl sm:text-xl;
}
.mdx h3 {
  @apply text-xl sm:text-lg;
}
.mdx h4 {
  @apply text-lg sm:text-base;
}
.mdx h5 {
  @apply text-base;
}
.mdx h6 {
  @apply text-sm;
}

/*=======================
Lists
========================*/

.mdx ol {
  @apply list-decimal;
}

.mdx ul {
  @apply list-disc;
}

.mdx li {
  @apply list-inside
  py-1

  dark:text-neutral-400
  dark:text-opacity-75;
}

.mdx li ul,
.mdx li ol {
  @apply ml-4;
}

/*=======================
Table
========================*/

.mdx table {
  @apply bg-white

  dark:bg-neutral-900;
}

.mdx th,
td {
  @apply text-left
  p-2
  border
  text-base
  border-neutral-200

  dark:border-neutral-800;
}

/*=======================
Image
========================*/

.mdx img {
  @apply object-cover;
}

/*=======================
Expander
========================*/

.mdx summary {
  @apply py-2
  cursor-pointer
  mb-2
  border-b
  text-red-600
  border-red-600

  dark:text-orange-300
  dark:border-orange-300;
}