---
import SetTheme from './SetTheme.svelte'
---

<nav class="border-b border--color p-4">
  <div class="m-auto w-full max-w-[1200px] flex justify-between">
    <a href="/" class="text--color">Astro Starter</a>
    <SetTheme client:load />
  </div>
</nav>
