---
import Layout from './Layout.astro'

const { frontmatter } = Astro.props
---

<Layout title={frontmatter.title}>
  <div
    class={`
      flex-1
      prose
      dark:prose-invert
      md
    `}
  >
    <slot />
  </div>
</Layout>

<style lang="postcss">
  /* prettier-ignore */
  .md {
    @apply
    prose-blue
    prose-slate
    max-w-[800px]
    min-w-0
    m-auto
    py-[50px]
    px-4;
  }
</style>
